.idea
build/
test*.mlir
test.sql
resources/data/tpch-*
resources/data/tpcds-*
resources/data/job
resources/data/ssb-*
__pycache__
llvm-jit-static.*
perf-result.json
sourcemap*
snapshot-*
sql-input.mlir
perf.*
events.parquet
operations.parquet
.vscode
mlir_venv
venv
