.venv
.idea
build/
test*.mlir
test.sql
resources/data/
__pycache__
llvm-jit-static.*
last-pass.json
perf-result.json
sourcemap*
detailed-snapshot-*
important-snapshot-*
mlir-c-module.cpp
input.mlir
c-backend.so
lingodb.trace
sql-input.mlir
perf.*
events.parquet
operations.parquet
.vscode
mlir_venv
venv