[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/jungmair/llvm-project.git
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow.git
[submodule "pybind11"]
	path = tools/python/pybind11
	url = https://github.com/pybind/pybind11
[submodule "llvm-project/"]
	url = https://github.com/lingo-db/llvm-project.git
