name: Build dev Docker image also used to run github actions

on:
  push:
    paths:
      - tools/docker/Dockerfile
env:
  REGISTRY: ghcr.io

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: tools/docker/
          file: tools/docker/Dockerfile
          push: true
          tags: ghcr.io/lingo-db/lingodb-dev:${{ github.sha }}
          target: baseimg
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/lingo-db/lingodb-dev
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true