name: Build dev Docker image also used to run github actions that build python packets

on:
  push:
    paths:
      - tools/python/bridge/Dockerfile
      - .github/workflows/build-py-dev-docker.yml
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/lingo-db/lingodb-py-dev
jobs:
  build-docker:
    runs-on: ${{ matrix.platform == 'linux/amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image to digest
        id: build
        uses: docker/build-push-action@v5
        with:
          context: tools/python/bridge/.
          file: tools/python/bridge/Dockerfile
          # Push by digest prevents race conditions on tags between parallel jobs
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}
          outputs: type=image,name=${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
          target: devimg

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ strategy.job-index }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-24.04
    needs: build-docker
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create manifest list and push
        id: push-manifest
        working-directory: /tmp/digests
        run: |
          # 1. Create and Push the manifest
          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:${{ github.sha }} \
            $(printf '${{ env.IMAGE_NAME }}@sha256:%s ' *)
          
          # 2. Inspect the image to get the final manifest digest
          DIGEST=$(docker buildx imagetools inspect ${{ env.IMAGE_NAME }}:${{ github.sha }} --format "{{json .Manifest}}" | jq -r .digest")
          
          # 3. Output the digest to GITHUB_OUTPUT so the next step can see it
          echo "digest=$DIGEST" >> "$GITHUB_OUTPUT"

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push-manifest.outputs.digest }}
          push-to-registry: true