name: Clang Tidy Check
on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    container: ghcr.io/lingo-db/lingodb-dev:89088a70dfe905e9da42772888ec22af7035d964
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: |
          export ENABLE_BASELINE_BACKEND=ON
          make clean
          make lint
