name: Coverage

on:
  push:
    branches:
      - main
  pull_request:


jobs:
  coverage:
    runs-on: ubuntu-latest
    container: ghcr.io/lingo-db/lingodb-dev:621f9dc1279092fce957b9852a9f7f421a7ebfe1 
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        env:
          ENABLE_BASELINE_BACKEND: ON
        run: |
          make clean
          make test-coverage
          mkdir -p /coverage
          llvm-cov-20 show ./build/lingodb-debug-coverage/run-mlir -object ./build/lingodb-debug-coverage/mlir-db-opt -object ./build/lingodb-debug-coverage/run-sql  -instr-profile=build/lingodb-debug-coverage/coverage.profdata  --ignore-filename-regex="vendored" --ignore-filename-regex="build/lingodb-debug-coverage" > /coverage/coverage.txt
      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: /coverage/coverage.txt
